.modal-container {
  .section {
    margin: 0 auto;
    width: 75%;
    background-color: #fff;
  }
  .rc-color-picker-wrap  {
    .rc-color-picker-trigger {
      padding-right: 25px;
      padding-left: 25px;
    }
  }
  .has-error {
    border: 1px solid #ff3860;
    border-radius: 4px;
  }
}

.reminder-form {
  .react-time-picker__inputGroup__amPm {
    left: 2px;
  }
}